<div class="d-flex justify-content-center">

  <p class="font-weight-bold">Successed! Please use the link down below</p>

</div>

<div class="d-flex justify-content-center">

  <a href="{{link}}" class="text-decoration-none">https://ruben-sierrra-nyc.herokuapp.com/{{ URL }}</a>

</div>